{{#*inline "additionalAttrs"}}
    class='has-navbar-fixed-top'
{{/inline}}

{{> header title="Manage" bodyAttrs="additionalAttrs" }}

<nav class="navbar is-info is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="." title="Back to home" class="navbar-item subtitle is-marginless">
                Liftpush
            </a>

            <a href="logout" class="navbar-item is-hidden-desktop">
                Logout
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    Hello {{username}}
                </div>

                <a href="logout" class="navbar-item">
                    Logout
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="section" id="index-banner">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-half-mobile is-two-thirds-tablet">
                <div class="panel list-group">
                    <a class="panel-block list-group-item" v-for="item in items" v-on:click="active_item = item"
                       :class="{'is-active': active_item && active_item == item}">
                        <span v-if="item.meta.actual_filename">
                            \{{ item.meta.actual_filename }}
                        </span>
                        <span v-else>
                            \{{ item.name }} &rarr; \{{ item.meta.url }}
                        </span>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="card" id="file-holder">
                    <div class="card-image">
                        <figure class="image" v-if="active_item">
                            <img id="file-src" v-if="active_item.meta.type == 'file'" v-bind:src="active_item.name"
                                 v-bind:alt="active_item.name">
                        </figure>
                    </div>

                    <div class="card-content">
                        <span v-if="active_item">
                            <div v-if="active_item.meta.actual_filename" class="title is-4">
                                \{{ active_item.meta.actual_filename }}
                            </div>
                            <div v-else class="title is-4">
                                \{{ active_item.name }} &rarr; \{{ active_item.meta.url }}
                            </div>
                        </span>
                        <span v-else class="title is-4">
                            Select an item.
                        </span>

                        <span v-if="active_item" class="subtitle is-6">
                            <span v-if="active_item.meta.filename">
                                Original name: \{{ active_item.meta.filename }},
                            </span>
                            type: \{{ active_item.meta.type }}
                        </span>
                    </div>

                    <footer class="card-footer" v-if="active_item">
                        <a class="card-footer-item has-text-danger" v-on:click="showDelete = true">Delete</a>
                        <a class="card-footer-item" v-bind:href="active_item.name" target="_blank" id="file-open">Open</a>
                        <a class="card-footer-item" v-on:click="showRename = true">Rename</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <transition name="fade">
        <div class="modal is-active" v-if="showDelete">
            <div class="modal-background" v-on:click="showDelete = false"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Delete File</p>
                </header>
                <section class="modal-card-body">
                    <p>Are you sure you want to delete \{{ active_item.name }}?</p>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-danger" v-on:click="deleteFile">Yes</button>
                    <button class="button" v-on:click="showDelete = false">No</button>
                </footer>
            </div>
        </div>
    </transition>

    <transition name="fade">
        <div class="modal is-active" v-if="showRename">
            <div class="modal-background" v-on:click="showRename = false"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Rename File</p>
                </header>
                <section class="modal-card-body">
                    <p>Rename \{{ active_item.name }} to what?</p>

                    <div class="field">
                        <label class="label" for="renameBox">New Name (excluding extension)</label>
                        <div class="control">
                            <input id="renameBox" class="input" type="text"
                                   v-bind:placeholder="active_item.name" v-model="rename_value" />
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" v-on:click="renameFile">Yes</button>
                    <button class="button" v-on:click="showRename = false">No</button>
                </footer>
            </div>
        </div>
    </transition>
</div>

<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/manage.js"></script>

{{> footer }}
