{{> header title="Manage" }}

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Liftpush</a>
        <ul id="nav-mobile" class="right">
            <li class="hide-on-med-and-down">Hello {{username}}</li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="section" id="index-banner">
    <div class="container">
        <br><br>

        <div class="row">
            <div class="col s12 m8">
                <ul class="collection">
                    {{#each files as |f| ~}}
                        <li class="collection-item" data-url="{{ f.name }}"
                            data-target="{{ f.meta.url }}"
                            data-name="{{ f.meta.actual_filename }}"
                            data-upload-name="{{ f.meta.filename }}" data-type="{{ f.meta.type }}">
                            {{#if f.meta.actual_filename}}
                                {{ f.meta.actual_filename }}
                            {{else}}
                                {{ f.name }} &rarr; {{ f.meta.url }}
                            {{/if}}
                        </li>
                    {{/each~}}
                </ul>
            </div>

            <div class="col s12 m4">
                <div class="card" id="file-holder">
                    <div class="card-image" id="file-src"></div>
                    <div class="card-content">
                        <span class="card-title black-text" id="file-name">Loading...</span>
                        <p id="file-meta"></p>
                    </div>
                    <div class="card-action">
                        <a href="#deleteModal" class="red-text modal-trigger">Delete</a>
                        <a href="#" target="_blank" id="file-open">Open</a>
                        <a href="#renameModal" class="modal-trigger">Rename</a>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
    </div>
</div>

<div id="deleteModal" class="modal">
    <div class="modal-content">
        <h4>Delete file</h4>
        <p>Are you sure you want to delete <span id="file-modal-name"></span>?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a href="#!" id="delete-file-button"
           class="modal-action modal-close waves-effect waves-red btn-flat red-text">OK</a>
    </div>
</div>

<div id="renameModal" class="modal">
    <div class="modal-content">
        <h4>Rename file</h4>
        <p>Rename <span id="rename-modal-name"></span> to what?</p>
        <div class="input-field">
            <input id="rename-modal-target" type="text" class="validate">
            <label for="rename-modal-target">New Name (excluding extension)</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a href="#!" id="rename-file-button"
           class="modal-action modal-close waves-effect waves-green btn-flat green-text">OK</a>
    </div>
</div>

{{> scripts }}

<script type="text/javascript" src="js/manage.js"></script>

{{> footer }}
